
.queuebox{
    height: 300px;
    overflow-y: scroll;
}

.mt-6{
    margin-top: 8rem;
}

.mb-6{
    margin-bottom: 8rem;
}

.bg-medium{
    background-color: rgba(150, 150, 170, 0.5);
    
}

.border-thick{
    border: 20px solid transparent;
}

.clip{
    background-clip: padding-box;
}

#ySizeBar{
    height: 0.75rem;
    cursor: ns-resize;
}

#xSizeBar{
    width: 100px;
    cursor: e-resize;
}

.greenCircle{
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    vertical-align: middle;
}

.orangeCircle{
    width: 10px;
    height: 10px;
    background: orange;
    border-radius: 50%;
    vertical-align: middle;
}

.redCircle{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    vertical-align: middle;
}
